[submodule "ext/eigen"]
	path = yabause/src/retro_arena/nanogui-sdl/ext/eigen
	url = https://github.com/libigl/eigen.git
[submodule "yabause/src/android/oboe"]
	path = yabause/src/android/oboe
	url = https://github.com/google/oboe
[submodule "yabause/src/retro_arena/Json/src"]
	path = yabause/src/retro_arena/Json/src
	url = https://github.com/nlohmann/json.git
[submodule "yabause/src/vulkan/src/glm"]
	path = yabause/src/vulkan/src/glm
	url = https://github.com/g-truc/glm.git
[submodule "yabause/src/libchdr-prefix/src"]
	path = yabause/src/libchdr-prefix/src
	url = https://github.com/devmiyax/libchdr.git
